<table>
  <thead>
    <tr>
      <th>No. Order</th>
      <th>Kasir</th>
      <th>Pelanggan</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.forEach(tr => { %>
      <tr>
        <td><%= tr.order_number %></td>
        <td><%= tr.user.username %></td>
        <td><%= tr.customer ? tr.customer.name : 'Umum' %></td>
        <td>Rp <%= tr.total_price.toLocaleString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>